.inicio{
  background: black;
  width: 20px;
  height: 180px;
  margin: auto;   
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}
.body{
  background: black;
  width: 90px;
  height: 220px;
  margin: auto;   
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px; 
}
.color{
  text-align: center;
  margin-top: 5px;  
}

.red{
  background: red;
  width: 70%;
  height: 68px;
  border-radius: 50%; 
  
}
.redOff{
  background: rgb(100, 6, 6);
  width: 70%;
  height: 68px;
  border-radius: 50%; 
}
.orange{
  background: orange;
  width: 70%;
  height: 68px;
  border-radius: 50%;   
  border-radius: 50%; 
}
.orangeOff{
  background: rgb(85, 56, 2);
  width: 70%;
  height: 68px;
  border-radius: 50%;   
  border-radius: 50%;
}
.greenOff{
  background: rgb(6, 37, 6);
  width: 70%;
  height: 68px;
  border-radius: 50%; 
}
.green{
  background: rgb(6, 216, 6);
  width: 70%;
  height: 68px;
  border-radius: 50%; 
}